@import "theme/flex.scss";
page-city-picker {
  .box{
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  .cancel-box {
    height:40%;
    background-color: rgba(0, 0, 0, 0);
  }
  ion-navbar{
    height:5% !important;
    min-height: 0px !important;
    box-sizing: border-box;
    p{
      text-align: center;
    }
  }
  .select-content{
    height: 55%;
    background-color: white;
    @include flx(column,flex-start,flex-start);
    .s-x{
      height: 30px;
      min-width: 100%;
      @include flx($x:flex-start);
      span{
        padding:10px 10px 3px 10px;
        line-height: 20px;
        position: relative;
      }
      .now{
        color: red;
        &:after{
          content: "";
          display: block;
          position: absolute;
          height:3px;
          width:100%;
          bottom: 0;
          left: 0;
          background-color: orange;
          animation: border-slide .3s;
          @keyframes border-slide {
            from {width: 0}
            to {width: 100%}
          }
        }
      }
      .unnow{
          color:black;
          &:after{
            content: ""
          }
      }

      margin:10px 0;
    }
    .s-y{
      width: 100%;
      flex:1;
      background: #F3EBEB;
      ion-list{
        ion-item{
          font-size:1.6rem;

        }
      }
    }
  }


}
