@import "theme/flex.scss";
page-editRemove{
  ion-item{
    ion-label{
      @include flx(row,flex-start,center);
    }
    img{
      width:50px;
      margin-right: 10px;
    }
  }
  .remove{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: white;
  }
}
