@import "theme/flex.scss";
page-cart {
  button.to-top{
    position: fixed;
    bottom:70px;
    right:10px;
    width:40px;
    height:40px;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #CFCFCF;
    font-size: 1.6rem;

  }
  ion-list{
    ion-item:last-child{
      margin-bottom:10px;
    }
  }
  .checkbox-box{
    margin-left:-10px !important;
    margin-right:-5px !important;
    //margin:0 !important;
    width:30px;
    height:100%;
    ion-checkbox{
      width:20px !important;
      button{
        width: auto !important;
      }
    }
  }
  .all-price{
    background: #FFFFFF;
    box-shadow: 0 -1px 1px 1px rgba(0, 0, 0,.1);
    height:50px;
    width: 100%;
    position: fixed;
    z-index: 13;
    bottom: 50px;
    @include flx(row, flex-start, center);
    .all-select{
      width:70px;
      @include flx(row, space-around, center);
      margin:0 10px;
      }
      button{
        margin: 0;
        margin-left: auto;
        height: 100%;
        border: none;
        border-radius: 0;
      }
  }

  .book{
    width: 100%;
    padding:15px 15px 0px 0px;

    border-radius: 2%;
    box-shadow: 0px 1px 8px 1px #EEEEEE;
    @include flx(row,flex-start,flex-start);
    img{
      width:70px;
      margin-left: 10px;
      box-shadow: 0 1px 3px 1px #AFAFAF;
    }

    .info{
      flex:1;
      height:100%;
      align-self: stretch;
      padding:0  0  0 1rem;
      position: relative;
      font-size:1rem;
      @include flx(column,flex-start,flex-start);
      span{
        margin-bottom:3px;
      }
      .price-box{
        position: absolute;
        bottom: 1rem;
      }
      .price-fuhao{
        color:  #f53d3d;
        font-size: 1rem;

      }
      .price-jiage{
        color:  #f53d3d;
        font-size: 1.5rem;
      }
      .nums-modify{
        @include flx(row, flex-end, center);
        width:100%;
        .add-nums,.remove-nums{
          width:2rem;
          height:2rem;
        }

        input{
          width:2rem;
          text-align: center;
          border: none;
          line-height: 2rem;
          color:#222;
          background: #EEEEEE;
          font-weight: 600;

        }
      }

    }
  }
}
