@import "theme/flex.scss";
you-may-like {
    .book-item-img{
        width:100px;
        height:130px;
        background-color: aquamarine;
        background-repeat:no-repeat; 
        background-size:100% 100%;
         box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: .5)
    }
    h2 {
        font: 2rem sans-serif;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    
    h2.background {
        position: relative;
        z-index: 1;
        
        &:before {
            border-top: 2px solid #dfdfdf;
            content:"";
            margin: 0 auto; /* this centers the line to the full width specified */
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%; left: 0; right: 0; bottom: 0;
            width: 95%;
            z-index: -1;
        }
    
        span { 
            /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
            background: #fff; 
            padding: 0 15px; 
        }
    }
    h2.double:before { 
        /* this is just to undo the :before styling from above */
        border-top: none; 
    }
    
    h2.double:after {
        border-bottom: 1px solid blue;
       
       
        box-shadow: 0 1px 0 0 red;
        content: "";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute;
        top: 45%; left: 0; right: 0;
        width: 95%;
        z-index: -1;
    }
    .you-may-like-content-box {
        @include flx();
        height:150px;
        .you-may-like-content-info{
            flex:1;
            padding:10px 0px 0px 20px;;
            align-self: stretch;   
            word-break:break-all;
            .book-name{
                font-weight: bold;
                color:#222;
            }
            .jianjie{
                margin-top:30px;;
                white-space: normal;
                
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;

            }
           
        }
    }
    
    
}
