@import "theme/flex.scss";

.header-box-border{
  box-shadow: 0 2px 3px rgba(0,0,0,.3);

}

.header-box-border-none{
  box-shadow: none;
}
.search-box-sw-none{
  background-color: #ECECEC;
}
.search-box-sw{
  background-color: #DBDBDB;
}
.input-sw{
  color:white;
}
.input-sw-none{
  color:#6E6E6E;
}
ion-col {
  justify-content: center !important;
  flex-direction: column !important;
}
.book-item-img{
  width: 100%;


  margin-bottom: 10px;
  transition: background-image 1s ease-out;
  background-repeat:no-repeat;
  background-image: url(../../assets/imgs/default.png);
  background-size:100% 100%;
   box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: .5)
}
.book-item{
  display: inline-block;
  width: 25%;
  margin: 0 5px;
  img{
    box-shadow: 0 2px 2px #6E6E6E;
    margin-bottom: 10px;
  }

}
.book-con{
width: auto;
white-space: nowrap;

}
.book-name{
  padding-left: 5px;
  font-size: 1rem;
  font-weight: bold;
  color:#222;
  overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.author{
  padding-left: 5px;
  font-size: 1rem;
  overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
  color: rgb(141, 141, 141);
}
.scroll1{
  overflow-x: scroll;
  width: 100%;

    .imgBox{


      background-color: #949494;
      background-position: center;
      background-size:cover;

      transition: background-image 1s ease-out;
   }
    p{
      margin:2px;
    }




}

page-home {
  ion-scroll{
    height:100%;

  }
  .header-box {
    z-index: 2;
    position: fixed;
    width: 100%;
    height:50px;
    @include flx($x:flex-start);
    .search-box{
      @include flx($x:flex-start);
      flex:1;
      margin: .8rem .8rem .8rem 2rem;

      box-shadow: inset 0px 0px 2px 1px rgb(74, 148, 245);
      ion-icon[name=search]{
        padding:0 10px;
        font-size: 2rem;

      }
      .search{
        font-weight: 600 !important;
        flex:1;
        .text-input{

          margin-top:6px !important;
          margin-bottom: 6px !important;
        }

      }
    }

    .icon-btn{
      height:2.6rem !important;
      margin-right:30px;
      background: rgba(161, 185, 230, .3);

    }
    .icon-btn-op1{
      height:2.6rem !important;
      margin-right:30px;
      background:none;
    }
    ion-icon[name=notifications]{
      font-size: 2.6rem;
      padding: 0 1rem;
      z-index: 5;



    }
    ion-badge{
      position: absolute;
      top:5px;
      right:29px;
      padding:3px;
      transform: scale(.8);
      font-size: 1rem;

    }
    ion-icon[name=list]{
      font-size: 2.5rem;
      padding: 0 1rem;


    }

  }

  .banner{
    ion-slide{
      div{
        height: 200px;

        background-size:100%;
        background-repeat: no-repeat;
        background-position:center;
        opacity: .9;
      }
    }
  }

  .tuijian{
    @include flx;

    height:180px;


    border-left:none;
    border-right:none;
    span{
      font-size:1.7rem;
      text-align: center;
      font-family: "微软雅黑";
      font-weight: 600;
      position: relative;
      margin-bottom:20px;
      i{
        position: absolute;
        width: 100%;
        display: block;
        text-align: center;
        top:2.3rem;
        display: block;
        font-size: 1.2rem;
        font-weight: 100;
        color: #949494;
        font-style: normal;
      }
    }

    .major{
      height: 100%;
      box-sizing: border-box;
      width: 45%;
      @include flx(column);
      border-right:1px solid #BDBDBD;
      span{
        color:#f53d3d;
        width:100%;
      }
      img{
        height:65%;
      }
    }
    .other{
      height:100%;
      width: 55%;
      @include flx(column);
      .top100{

        @include flx($x:flex-end);
        span{

          width: 65%;
          color:#32db64;

          flex: 1;
        }
        flex:1;
        border-bottom:1px solid #BDBDBD;
      }
      .newbook{
        @include flx($x:flex-end);
        flex:1;
        span{
          flex:1;
          color: #488aff;
         width: 65%;
        }
      }
      img{
        width: 30%;
        margin-right:  10px;
      }
    }
  }
  .type-select{
    background-color: rgb(220, 245, 217);


  }
  .type-tubiao-set{

    text-align: center;


    height:40px;
    ion-icon{
      font-size:3.6rem;
      position: relative;
      box-shadow: 3px 3px 5px 2px rgba(4, 28, 59, 0.2);
    }
    span{
      font-size:1.4rem;
      display: inline-block;
      color:#0E43A5;
      font-weight: 600;
      width: 1.6rem;
      position: absolute;
      padding-top: 3px;
      border-top: 1px solid orchid;
      left:-0.9rem;
      top:-0.2rem;
    }
  }
  .rexiao{

    background-color: #F1F1F1;
    .title{
      font-size: 1.7rem;
      position: relative;
      @include flx;
      span{

      }
      .more-books-icon{
        position: absolute;
        right:20px;
      }

    }
    .book-name{
      font-size: 1rem;
    }
    .author{
      font-size: 1rem;
      color: rgb(141, 141, 141);
    }
  }
  .type-list{
    border-top:5px solid #EBEBEB;
    margin-bottom:30px;
    .title{
      font-size: 1.7rem;

      position: relative;
      @include flx;

      .more-books-icon{
        position: absolute;
        right:20px;
      }


    }
    .content{
      padding-left: 10px;

    }
  }

}
