@import "theme/flex.scss";
.header-box-border{
  box-shadow: 0 2px 3px rgba(0,0,0,.3);

}

.header-box-border-none{
  box-shadow: none;
}
.search-box-sw-none{
  background-color: #ECECEC;
}
.search-box-sw{
  background-color: #DBDBDB;
}
.input-sw{
  color:white;
}
.input-sw-none{
  color:#6E6E6E;
}
.book-item-img{
  box-shadow: 0 2px 2px #6E6E6E;
  width: 60px;
  margin-bottom: 10px;
}
.book-item{
  display: inline-block;
  width: 70px;
  margin: 0 5px;
  img{
    box-shadow: 0 2px 2px #6E6E6E;
    margin-bottom: 10px;
  }

}
.book-con{
width: auto;
white-space: nowrap;
}
.scroll1{
  height: 150px;
  width: 100%;
}
page-home {
  ion-scroll{
    height:100%;
  }

  .header-box {
    z-index: 2;
    position: fixed;
    width: 100%;
    height:50px;
    @include flx($x:flex-start);
    .search-box{
      @include flx($x:flex-start);
      flex:1;
      margin: .8rem .8rem .8rem 2rem;

      ion-icon[name=search]{
        padding:0 10px;
        font-size: 2rem;

      }
      .search{

        flex:1;
        .text-input{

          margin-top:6px !important;
          margin-bottom: 6px !important;
        }

      }
    }

    .icon-btn{
      height:2.6rem !important;
      background: rgba(161, 185, 230, .3);

    }
    .icon-btn-op1{
      height:2.6rem !important;

      background:none;
    }
    ion-icon[name=cart]{
      font-size: 2.5rem;
      padding: 0 1rem;


    }
    ion-icon[name=list]{
      font-size: 2.5rem;
      padding: 0 1rem;


    }

  }

  .banner{
    ion-slide{
      div{
        height: 200px;

        background-size:100%;
        background-repeat: no-repeat;
        background-position:center;
        opacity: .9;
      }
    }
  }

  .tuijian{
    @include flx;
    margin-bottom: 10px;
    height:180px;
    border:5px solid #EEEEEE;
    border-left:none;
    border-right:none;
    span{
      font-size:1.5rem;
      text-align: center;
      font-family: "微软雅黑";
      font-weight: 600;
      position: relative;
      margin-bottom:30px;
      i{
        position: absolute;
        width: 100%;
        display: block;
        text-align: center;
        top:2rem;
        display: block;
        font-size: 1rem;
        font-weight: 100;
        color: #ccc;
        font-style: normal;
      }
    }

    .major{
      height: 100%;
      box-sizing: border-box;
      width: 45%;
      @include flx(column);
      border-right:1px solid #eee;
      span{
        color:#f53d3d;
        width:100%;
      }
      img{
        height:65%;
      }
    }
    .other{
      height:100%;
      width: 55%;
      @include flx(column);
      .top100{

        @include flx($x:flex-end);
        span{

          width: 65%;
          color:#32db64;

          flex: 1;
        }
        flex:1;
        border-bottom:1px solid #eee;
      }
      .newbook{
        @include flx($x:flex-end);
        flex:1;
        span{
          flex:1;
          color: #488aff;
         width: 65%;
        }
      }
      img{
        width: 30%;
        margin-right:  10px;
      }
    }
  }
  .type-tubiao-set{
    text-align: center;
    @include flx(column);
    height:50px;
    ion-icon{
      font-size:2.5rem;
    }
    p{
      color:#6E6E6E;
    }
  }
  .rexiao{

    .title{
      font-size: 1.7rem;
      position: relative;
      @include flx;
      span{

      }
      .more-books-icon{
        position: absolute;
        right:20px;
      }

    }
    .book-name{
      font-size: 1rem;
    }
    .author{
      font-size: 1rem;
      color: rgb(141, 141, 141);
    }
  }
  .type-list{
    border-top:5px solid #EBEBEB;
    margin-bottom:30px;
    .title{
      font-size: 1.7rem;

      position: relative;
      @include flx;

      .more-books-icon{
        position: absolute;
        right:20px;
      }


    }
    .content{
      padding-left: 10px;
      ion-scroll{
       img{

       }
        p{
          margin:2px;
        }
        .book-name{
          font-size: 1rem;
        }
        .author{
          font-size: 1rem;
          color: rgb(141, 141, 141);
        }
      }
    }
  }

}
