page-sign-up {
    ion-label{
        font-weight: bold;
    }
    .info{
        height: 30px;;
        span{
            font-size: 1.5rem;
            line-height: 100%;
        }
        .switch-login{
            color:rgb(95, 95, 250);
        }
        button{
            height: 15px;
        }
    }
    ion-card-content {
        position: relative;
    }
    .phone{
        position: relative;
       
    }
    
   
    .scroll-content{
        display: flex !important;
        flex-direction: column;
        justify-content: center;

    }
    .card-background-page {
        align-self: center;
       
          position: relative !important;
          text-align: center;
        }
        .blur{
            filter: blur(1px);
        }
        .card-title {
          position: absolute;
          top: 17%;
          width: 100%;
          font-size: 1.6em;
          text-align: center;
          left:0;
          display: block;
          color:white;
          font-weight: bold;
         
         
        }
      
        .card-subtitle {
          font-size: 1.6em;
          left: 0;
            display: block;
          position: absolute;
          color:white;
          font-weight: bold;
          top: 24%;
          width: 100%;
       
        
        }
        .font-color{
            color: #f35626;
            background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: hue 3s infinite linear;
            font-weight: bold;
          
        }
        @keyframes hue {
            from {
              -webkit-filter: hue-rotate(0deg);
            }
            
            to {
              -webkit-filter: hue-rotate(360deg);
            }
        }
      
}
