page-mulu {
  .box{
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  .cancel-box {
    height:100px;
    background-color: rgba(0, 0, 0, 0);
  }
  ion-scroll{
    height:100%;
    width: 100%;
    position: fixed;
  }

  ion-list{
    margin:0 !important;
  }
  .cos{
    position: absolute;
    top:100px;
  }
  .mulu-list{
    ion-item{
      font-size: 1.3rem;
    }

  }
}
