// http://ionicframework.com/docs/theming/

.cos{

  background: rgba(34, 34, 34,.3);
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.cart-fly{
  position: absolute;
  width: 100px;
  height: 130px;
  top:-50px;
  left: 100px;
  z-index: 999;
  animation: fly 1s ease-in-out;
  opacity: 0;
  transform: scale(.2);
}
@keyframes fly {
    0% {
      top:50px;
      display: inline-block;
      opacity: .3;
      transform:scale(.8);
    
    }
  
    30% {
      left: 200px;
      top: 200px;
     
      display: inline-block;
      opacity: .3;
      transform:scale(.2);
    }
  
    60% {
      left: 200px;
      top:200px;
  
      display: inline-block;
      opacity: .3;
      transform:scale(.2);
    }
    100%{
      left:300px;
      
    }
}