page-post-addr {
  ion-scroll{
    height:90%;
    box-sizing: border-box;
  }
  ion-toolbar{
    height:10%;
    box-sizing: border-box;
  }
  .box{
    padding-right:20px;
    position: relative;
  }
  .edit-icon{
    position: absolute;
    right:10px;
    bottom:0;
  }
  .people-info{

    font-size:1.6rem;
    font-weight: 500;
    color:#222;

  }
  .default-tag {
    color:#488aff;
    font-size:1rem;
  }
}
