<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content (ionScroll)="hhahaScroll($event)">
  <div #uraHeader class="ura-header " [style.background]="op" [ngClass]="{'shadow': sw}">
      <div class="ura-avatar" [hidden]="!sw"></div>
      <button ion-button clear icon-only class="set">
          <ion-icon name="settings" [ngClass]="{'dark': sw,'light':!sw}"></ion-icon>
        </button>
        <button ion-button clear icon-only>
          <ion-icon name="notifications" [ngClass]="{'dark': sw,'light':!sw}"></ion-icon>
          <ion-badge class="message" color="danger">3</ion-badge>
        </button>
  </div>
  <header>
    <div class="avatar"></div>
    <div  class="shenmiren" *ngIf="!(logged$ | async)">
      <p (click)="toLogInPage()">嗨，神秘人！
      </p>
      <p  (click)="toSignUpPage()">请
        <button ion-button round >登录</button>
        或者
        <button ion-button round>注册</button>
        
        </p>
    </div>
    <div class="user-name-youhuiquan" *ngIf="logged$ | async">
      <div class="user-name" >
        <span>{{username$ | async}}</span>
        <ion-badge>钻石</ion-badge>
      </div>
      <div class="youhuiquan">
        <ion-badge color="secondary">优惠券：3</ion-badge>
      </div>
    </div>
    
 
  </header>
  <div class="content-box">
    <div class="order-box">
      <div class="button-box">
        <ion-icon name="card">
          <ion-badge class="message" color="danger">3</ion-badge>
        </ion-icon>

        <span>待付款</span>
      </div>
      <div class="button-box">
        <ion-icon name="filing">
          <ion-badge class="message" color="danger">3</ion-badge>
        </ion-icon>

        <span>待发货</span>
      </div>
      <div class="button-box">
        <ion-icon name="text">
          <ion-badge class="message" color="danger">3</ion-badge>
        </ion-icon>

        <span>待评价</span>
      </div>
      <div class="button-box">
        <ion-icon name="done-all" color="dark">
          <ion-badge class="message" color="danger">3</ion-badge>
        </ion-icon>

        <span>已完成</span>
      </div>
      <div class="button-box">
        <ion-icon name="list-box" color="primary" class="main-order-icon"></ion-icon>
        <span>我的订单</span>
      </div>

    </div>

    <div class="history">
      <div class="ashato">
          <ion-icon name="paw" color="secondary"></ion-icon>
          <span>浏览历史</span>
      </div>

      <ion-scroll [scrollX]="'true'"  >
        <div class="book-con" *ngIf="history && history.books.length>0">
          <div *ngFor="let book of history.books" class="book" >
            <img [src]="book.src" alt="">
          </div>
        </div>



      </ion-scroll>
    </div>
  </div>
  <you-may-like></you-may-like>  

</ion-content>
