@import "theme/flex.scss";
page-edit-post {
  .invalid{
   color:#f53d3d;

    }

  .valid{
    color:#222;
  }
  .box{
    @include flx(column,flex-start,stretch);
    height: 100%;
    width: 100%;
    label{
      color:#488aff;
    }
    input{
    margin-left: 20px;
     border: none;
    }
  }

  ion-textarea{
    height:10rem;
    font-size:1.6rem;
    line-height: 2rem;
    .text-input{
      height: 100%;
    }
  }
  button{
    position: fixed;
    bottom: 0;


  }
}
