<!--
  Generated template for the BookTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="(bookType$ | async) && (bookType$ | async).books">

    <ion-item *ngFor="let book of (bookType$ | async).books" (click)="toBookPage(book.idbook)" >
      <div class="box">
        <img [src]="book.imgurl" alt="" >
        <div class="book-info">
          <p class="book-name">{{book.name}}</p>
          <p class="author">{{book.author}}</p>
          <p class="jianjie-short">{{book.description}}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
