@import "theme/flex.scss";
page-book-type {
  .box {
    width: 100%;
    height:130px;
    @include flx($x:flex-start);
    .book-item-img{
      width: 30%;
      padding-bottom: 40%;
      margin-right: 5px;
      margin-bottom: 10px;
      transition: background-image 1s ease-out;
      background-repeat:no-repeat;
      background-image: url(../../assets/imgs/default.png);
      background-size:100% 100%;
      background-position: center;
       box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: .5)
    }
    .book-info {
      word-break:break-all;
      width: 65% ;
      align-self: stretch;

      p{
        width: 100%;
        height: auto;
        white-space:normal;
      }
      .jianjie-short{
        margin-top:30px;;
                white-space: normal;

                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;

      }

    }
  }
}
