@import "theme/flex.scss";
page-book {
    .headerbox{
        @include flx(column);
        img{
            width:100px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0,.6);
            margin:10px;
        }
        p{
          margin-bottom:10px;
        }
        .caozuo{
            button{
                width:10rem;
                margin:10px;
            }
        }
        .author{
          span{
            color: #9E9E9E;
            margin-right:10px;
          }
          color:#00A2FF;
        }
        .name{
          font-size: 1.8rem;
          font-weight: 500;
        }
        .jiage{
          color: #f53d3d;
          font-weight: 600;
        }
        .zhekou
        {
            @include flx;
            .zhe{
              font-size: 10px;
              transform: scale(.9);
              background:  #f53d3d;
              color: white;
            }
            .dixiao{
              font-size: 10px;
              transform: scale(.9);
                display: block;
                margin-left:10px;
                position: relative;
            }
            .dixiao i{
                display:block;
                font-size:10px;
                transform: scale(.9);
                width: 100%;
                position: absolute;
                top:0.5rem;
                height:5px;
                border-bottom: 1px solid black;
            }
        }


    }
    .jianjie{
        margin: 10px 0;
        border-top:5px solid #ccc;
        .jianjie-title{
            font-size:1.6rem;
            border-bottom: 1px solid #ccc;
            padding-bottom:10px;
            padding-left: 10px;
        }
        .content-box{
            margin:10px;
            padding:0 18px 0px 15px;

          position: relative;
            .jianjie-content{
                font-size: 1.3rem;
                line-height: 2.3rem;
                height: 6.6rem;
                overflow: hidden;
            }
            .ura-jianjie-content{
              font-size: 1.3rem;
              line-height: 2.3rem;
              height: auto;
            }



        }
        button.jianjie-more{
          position: relative;


        }
    }
    .mulu{
      background-color: #F7F7F7;
      button{
        font-size: 1.3rem;
      }
      border-bottom:10px solid #DFDFDF;
    }

    .info{
      h3{
        font-size: 1.6rem;
        padding-left: 10px;
      }
      .grid{
        padding-left: 0 !important;
        ion-col{
          padding-left:0 !important;
        }
      }
      ion-item{
        font-size:1.3rem;
      }

      ion-col{
        font-size:1.3rem;
      }
    }
}
